body {
  font-family: 'Cutive Mono', monospace;
}

.resultname {
  text-align: right;
}


.resultval {
  text-align: left
}

#viz {
  border: 5px solid yellow;
}

#stats {
  display: inline-block;
  vertical-align: top;
  background: beige;
}
